### BASIC USAGE OF DATAHELP

In [13]:
# !pip install scikit-learn

In [1]:
# !pip install --upgrade scikit-learn

In [2]:
# !pip install --upgrade pip setuptools

In [2]:
# !pip install datahelp==0.1.6

In [3]:
import sklearn
print(sklearn.__version__)

1.3.0

In [4]:
import datahelp as dh
import pkgutil

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("data/iris.csv")

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
print(dh.__version__)

0.1.6

In [9]:
modules_list = [name for _, name, _ in pkgutil.iter_modules(dh.__path__)]
print(modules_list)

['create_project', 'eda', 'feature_engineering', 'modelling', 'utils', 'visualize']

In [22]:
from datahelp import eda

cats = dh.eda.get_cat_vars(df)
cats

['species']

In [16]:
num_var = dh.eda.get_num_vars(df)
print(num_var)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [17]:
cat_count = dh.eda.get_cat_counts(df)
cat_count

   Feature  Unique Count
0  species             3

In [18]:
missing = dh.eda.display_missing(df)
missing

              missing_count  missing_percent
sepal_length              0              0.0
sepal_width               0              0.0
petal_length              0              0.0
petal_width               0              0.0
species                   0              0.0

In [23]:
summary = eda.feature_summary(df)

TypeError: Could not convert setosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosasetosaversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorversicolorvirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginicavirginica to numeric