In [11]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
from dataramp.utils import (
    get_num_vars,
    describe_df,
    get_cat_vars,
    get_cat_counts,
    plot_feature_importance,
    feature_summary,
    display_missing,
    get_unique_counts,
    join_train_and_test,
    check_train_test_set,
    is_df, 
    target_encode,
    one_hot_encode
)

In [3]:
# Load your dataset
df = pd.read_csv("../../datasets/iris.csv")

In [4]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
display_missing(df, plot=False)

       variable  missing_count  missing_percent
0  sepal.length              0              0.0
1   sepal.width              0              0.0
2  petal.length              0              0.0
3   petal.width              0              0.0
4       variety              0              0.0

In [6]:
describe_df(df.select_dtypes(include=['number'])) # description of the numerical variables

Describing DataFrame: 100%|████████████████████| 4/4 [00:00<00:00, 449.19column/s]

      sepal.length sepal.width petal.length petal.width
count      150.000     150.000      150.000     150.000
mean         5.843       3.057        3.758       1.199
std          0.828       0.436        1.765       0.762
min          4.300       2.000        1.000       0.100
25%          5.100       2.800        1.600       0.300
50%          5.800       3.000        4.350       1.300
75%          6.400       3.300        5.100       1.800
max          7.900       4.400        6.900       2.500

In [7]:
describe_df(df.select_dtypes(exclude=['number'])) # description of the categorical variables

Describing DataFrame: 100%|████████████████████| 1/1 [00:00<00:00, 463.41column/s]

       variety
count      150
unique       3
top     Setosa
freq        50

In [8]:
feature_summary(df.select_dtypes(include=['number']))

,Null,Unique_Count,Data_type,Max,Min,Mean,Std,Skewness
sepal.length,0,35,float64,7.9,4.3,5.843333,0.828066,0.314911
sepal.width,0,23,float64,4.4,2.0,3.057333,0.435866,0.318966
petal.length,0,43,float64,6.9,1.0,3.758,1.765298,-0.274884
petal.width,0,22,float64,2.5,0.1,1.199333,0.762238,-0.102967

In [9]:
# get_unique_counts(df)