In [1]:
# This is a sample project created using dataramp

# Dataramp simplifies the way you structure your data science projects
# After installation, simpy run 'dr.core.create_project("your-project-name")' to get started

In [2]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
import dataramp as dr

In [3]:
print(dr.__version__) # check library version

0.1.8.deva55a370

In [4]:
# Some of the built-in functionalities in dataramp you can use
from dataramp.utils import (
    describe_df,
    display_missing,
    feature_summary,
    get_cat_vars,
    get_num_vars,
    get_unique_counts,
)

In [5]:
from sklearn.datasets import load_iris

In [6]:
# Load your dataset
# df = pd.read_csv("../../datasets/raw/iris.csv")

In [7]:
iris = load_iris()

In [8]:
X = pd.DataFrame(iris.data, columns=iris.feature_names)
y = pd.Series(iris.target, name='species')

In [18]:
# X['id'] = range(len(X))
# X['species'] = y

In [10]:
X.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),id,species
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,1,0
2,4.7,3.2,1.3,0.2,2,0
3,4.6,3.1,1.5,0.2,3,0
4,5.0,3.6,1.4,0.2,4,0

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [12]:
df = pd.concat([X, y], axis=1)

In [13]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),id,species,species
0,5.1,3.5,1.4,0.2,0,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,2,0,0
3,4.6,3.1,1.5,0.2,3,0,0
4,5.0,3.6,1.4,0.2,4,0,0

In [14]:
display_missing(df, plot=False)

            variable  missing_count  missing_percent
0  sepal length (cm)              0              0.0
1   sepal width (cm)              0              0.0
2  petal length (cm)              0              0.0
3   petal width (cm)              0              0.0
4                 id              0              0.0
5            species              0              0.0
6            species              0              0.0

In [15]:
describe_df(df.select_dtypes(include=['number'])) # description of the numerical variables

,count,mean,std,min,25%,50%,75%,max
sepal length (cm),150.0,5.843333,0.828066,4.3,5.10,5.80,6.40,7.9
sepal width (cm),150.0,3.057333,0.435866,2.0,2.80,3.00,3.30,4.4
petal length (cm),150.0,3.758000,1.765298,1.0,1.60,4.35,5.10,6.9
petal width (cm),150.0,1.199333,0.762238,0.1,0.30,1.30,1.80,2.5
id,150.0,74.500000,43.445368,0.0,37.25,74.50,111.75,149.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0

In [16]:
describe_df(df.select_dtypes(include=['number'])) # description of the categorical variables

,count,mean,std,min,25%,50%,75%,max
sepal length (cm),150.0,5.843333,0.828066,4.3,5.10,5.80,6.40,7.9
sepal width (cm),150.0,3.057333,0.435866,2.0,2.80,3.00,3.30,4.4
petal length (cm),150.0,3.758000,1.765298,1.0,1.60,4.35,5.10,6.9
petal width (cm),150.0,1.199333,0.762238,0.1,0.30,1.30,1.80,2.5
id,150.0,74.500000,43.445368,0.0,37.25,74.50,111.75,149.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0
species,150.0,1.000000,0.819232,0.0,0.00,1.00,2.00,2.0

In [17]:
feature_summary(df.select_dtypes(include=['number']))

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
get_cat_vars(df)

In [ ]:
get_num_vars(df)

In [ ]:
get_unique_counts(df)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

X_scaled = StandardScaler().fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
from dataramp.utils import check_train_test_set

In [ ]:
check_train_test_set(
    train_data=X_train, 
    test_data=X_test, 
    index=None, 
    col=None
)

In [ ]:
X_test